header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto; 
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px; 
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

#banner {
	padding-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.principal {
	padding: 10px;
}

.titulo-centralizadocbordas {
	border: 1px solid black;
	border-radius: 150px;
	padding: 10px;
	margin: 40px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.conteudo {
	font-size: 20px;
	border: 1px solid black;
	border-radius: 150px;	
	padding: 10px;
	margin: 20px;
	text-align: center;
}

em strong {
	color: gray;
}

.beneficios {
	background: #FFFFFF;
	padding: 1px;
}

.benelist {	
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 15%;
}

.itens {
	margin-left: 70px;
	font-style: italic;
	padding: 30px;
	font-weight: bold;
	font-size: 20px;
}

.imagembeneficios {
	width: 40%;
}

footer {
	text-align: center;
	background: url("../imagem/bg.jpg");
	padding: 40px 0; 
}

.copy {
	color: #FFFFFF;
	font-size: 15px;
	margin: 20px 0;
}